*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    background-color: rgba(185, 20, 80, 1);
    width: 100%;
    height: 100vh;
}

/* MAIN TOP */
.title{
    text-align: center;
    color: white;
    padding: 20px;
}
.top{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
}
.container{
    width: 85%;
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}
.left{
    width: 33.3%;
    height: 50px;
}
.center{
    width: 33.3%;
    height: 50px;
}
.right{
    width: 33.3%;
    height: 50px;
}

.container h4{
    margin-bottom: 10px;
    color: rgba(185, 20, 80, 1);
}

.rettangolo{
    border: 1px solid rgba(185, 20, 80, 1);
    border-radius: 5px;
    padding: 3px 60px 3px 60px;
}

.buttons{
    display: flex;
    justify-content: center;
}
.button{
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 1);
    color: rgba(185, 20, 80, 1);
    font-size: 22px;
    font-weight: 600;
}
.buttons .button:first-child{
    border: 2px solid rgba(156, 96, 157, 1);
}
/* /MAIN TOP */

/* MAIN BOTTOM */
.bottom{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
}
.user_recup{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 1);
    border-right: none;
}
.user_left{
    width: 30%;
    background-color: rgba(128, 128, 128, 1);
    padding: 25px;
    font-size: 20px;
}
.user_right{
    width: 70%;
    display: flex;
}
.offer, .carriage, .code, .cost{
    padding: 30px;
    width: 25%;
}
.right_top{
    height: 30%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 10px;
}
.right_bottom{
    height: 70%;
    display: flex;
    align-items: center;
}






